<!DOCTYPE html>
<html ng-app="myApp" class="ng-scope">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular</title>
    <script type="application/javascript" src="/js/angular.js"></script>
    <script type="application/javascript" src="/js/app.js"></script>
</head>
<body ng-controller="MainController" class="ng-scope ng-binding">
    Name:<input type="text" ng-model="name"/>
    Name:<input type="text" ng-model="name"/>
    Hello,{{name}}
    <input type="button" value="Click Me" ng-click="Funct()" name="" id=""/>

    <div class="ctr1" ng-controller="Controller2">{{data.someData}}</div>
    <div class="ctr1" ng-controller="Controller3">
        <input type="button" value="Change Data" ng-click="changeData()"/>
    </div>

    {{ 'MyText' |decorator:"-->":"<--"}}
    <div class="directive" dit-my-directive user="users"></div>
    <div class="directive" dit-my-directive user="john"></div>
</body>
</html>