<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="/css/jquery.mobile.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="application/javascript" src="/js/jquery.js"></script>
    <script type="application/javascript" src="/js/jquery.mobile.js"></script>
    <script type="application/javascript" src="/js/angular.js"></script>
    <script type="application/javascript" src="/js/app.js"></script>
</head>
<!--
<body ng-controller="MainController" class="ng-scope ng-binding">
    Name:<input type="text" ng-model="name"/>
    Name:<input type="text" ng-model="name"/>
    Hello,{{name}}
    <input type="button" value="Click Me" ng-click="Funct()" name="" id=""/>

    <div class="ctr1" ng-controller="Controller2">{{data.someData}}</div>
    <div class="ctr1" ng-controller="Controller3">
        <input type="button" value="Change Data" ng-click="changeData()"/>
    </div>

    {{ 'MyText' |decorator:"&ndash;&gt;":"<--"}}
    <div class="directive" dit-my-directive user="users"></div>
    <div class="directive" dit-my-directive user="john"></div>
</body>
-->
<body ng-app="restApp" ng-controller="mainCtrl">
<!--#menuPage[data-role="page" ng-controller="menuListCtrl"]-->
    <div id="menuPage" data-role="page" ng-controller="menuListCtrl">
        <!--.ui-content[data-role="mail"]-->
        <div class="ui-content" data-role="main">

            <ul class="menuList" id="menuList">
                <li ng-repeat="item in products" class="trumbnail" ng-click="openItem(item)">
                    <div class="trumbnail"><img ng-src="img/{{item.image}}" alt=""/></div>
                    <div class="name">{{item.name}}</div>
                    <div class="price">{{currency +item.price}}</div>
                </li>
            </ul>

        </div>
        <!--.ui-content[data-role="footer" data-position="fixed"]>h1{Rest API &copy;}-->
        <div class="ui-content" data-role="footer" data-position="fixed">
            <h1>Rest API &copy;</h1>
        </div>
    </div>

    <menu-item-page ng-controller="secondCtrl"></menu-item-page>
</body>
</html>