<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Phonebook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script type="application/javascript" src="/js/angular.js"></script>
    <script type="application/javascript" src="/js/phonebook.js"></script>

</head>
<body ng-app="phonebook">
<div class="controllerPhone container"
     ng-controller="PhoneBookController"
     ng-switch="view" >
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">SEARCH</span>
                <input class="form-control" type="text" name="" id="" ng-model="query"/>
            </div>
        </div>
    </div>

    <div ng-switch-when="list">
        <pb-person-car ng-repeat="person in persons | filter:query" person="person"></pb-person-car>
    </div>
    <div ng-switch-when="table">
        <!--table>(thead>tr>th*4)+(tbody>tr[ng-repeat="person in persons | filter:query" person="person"]>td*4)-->
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Phone</th>
                </tr>
                </thead>
            <tbody>
                <tr ng-repeat="person in persons | filter:query" person="person">
                    <td>{{$index+1}}</td>
                    <td>{{person.name}}</td>
                    <td>{{person.company}}</td>
                    <td>{{person.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>