<!-- https://www.youtube.com/watch?v=V6vVRXQM-KM&index=4&list=PLm9AQhR8y9nO6aEzmjOXELifem9Lr2X6n -->

<!doctype html>
<html lang="en" ng-app="YoutubeApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="LessonController">
    Name: <input type="text" name="" id="" ng-model="name">

    <div class="name">
        {{ name }}
    </div>

    <input type="button" value="Click" name="" ng-click="myFn()" />
</body>
</html>