<!-- https://www.youtube.com/watch?v=V6vVRXQM-KM&index=4&list=PLm9AQhR8y9nO6aEzmjOXELifem9Lr2X6n -->

<!doctype html>
<html lang="en" ng-app="YoutubeApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="LessonController">
    Name: <input type="text" name="" id="" ng-model="name">

    <div class="name">
        {{ name }}
    </div>

    <input type="button" value="Click" name="" ng-click="myFn()" />

    <div class="ctrl1" ng-controller="ctrl1">{{data.SomeData}}</div>
    <div class="ctrl2" ng-controller="ctrl2">
        <input value="ChangeData" ng-click="changeData()" type="button" />
    </div>

    {{ 12 | currency}}
    {{ 12 | number:4}}
    {{ 'MyText' | decorator:'****'}}
    <div>
        <dit-user-info user="user"></dit-user-info>
    </div>

    <div>
        <dit-user-info user="jonh"></dit-user-info>
    </div>
    <dit-my-directive></dit-my-directive>
    <div class="init-dir" dit-my-directive  ></div>
</body>
</html>