<!doctype html>
<html lang="en" ng-app="RestApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div class="rest" ng-controller="usersCtrl">
    <!--{{ users.data.data.name }}-->
    <div>
        <span>Name : </span><span ng-bind="users.data.data.name "></span>

        <span>Id : </span><span ng-bind="users.data.data.id"></span>
    </div>
    <br/>
    <br/>

    <div>
        <span>UsersAll:</span>
        <span ng-bing="usersAll" >
            <span ng-if="allus[$index].id" ng-repeat="allus in usersAll">
                <div ng-bind="allus[$index].id "></div>
            </span>
        </span>
    </div>
    Встроенные фильтры JSON преобразуют объект JavaScript в строку JSON. Это удобно для вывода значений Модели в DOM при разработке. Для красивого форматирования оберните фильтры JSON в тэги <pre>
    <code>
        <pre>
         myObject | json
        </pre>
    </code>

</div>

<div id="streams" ng-controller="streamsCtrl">

</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/sockjs/sockjs.js"></script>
<script src="js/app.js"></script>
<script src="js/sockjs.js"></script>
</body>
</html>